// Navigation code here

.nav-container {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    max-width: 100%;
    border: solid 1px whitesmoke; 
    background: whitesmoke;

}

nav a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    margin-left: 40px;
    margin-right: 40px;
    @phone: ;
}

nav {
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-color: darkslategray;
}



